defqonbot.zip

Unidecode-0.04.20.dist-info/
certifi-2017.4.17.dist-info/
certifi/
chardet-3.0.4.dist-info/
chardet/
facebook/
facebook_sdk-2.0.0.dist-info/
idna-2.5.dist-info/
idna/
lambda_function_backup.py
requests-2.18.1.dist-info/
requests/
unidecode/
urllib3-1.21.1.dist-info/
urllib3/

